.hero{
    margin: 0px 120px;
    margin-top: 270px;
    
}
.hero-text {
    color: #ffffff;
    font-size: 110px;
    font-weight: 500;
    line-height: 130px;
    padding-bottom: 60px;
}
.hero-explore{
    display: flex;
    align-items: center;
    gap: 50px;
    border-style: solid;
    border-width: 4px;
    width: fit-content;
    margin-top: 0px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: #ffffff;
    cursor: pointer;
}
.hero-explore:hover {
    background-color: #c7f1ff;
    text-shadow: 0 0 0.5px #000000;
    transition: 0.2s;
}
.hero-explore p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
}
.hero-explore img{
    
    max-width: 60px;
    max-height: 70px;
}
.hero-dot-play{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    background: #fff;
    border-color: aliceblue;
    border-radius: 55.5px;
    border-style: solid;
    border-width: 4px;
    cursor: pointer;
}
.hero-dot.alice{
    background: rgb(81, 174, 255);
}

.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.hero-play p{
    color: #ffffff;
    font-size: 19px;
}