.cards{    
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(0%, 0%);
    margin-left: 5%;
    width: 90%;
    height: 750px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdd;
    border-radius: 10px;
    font-size: medium;   
}
    
.cards .slider .items{
    width: 220px;
    height: 500px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0 30px 50px #505050;
    border-radius: 20px;
    
    display: inline-block;
    transition: 0.4s;
}

.slider .items:nth-child(1),

.slider .items:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0,0);
    width: 100%;
    height: 100%;
    
}
@media screen and (min-width: 1020px){
.slider .items:nth-child(3){
    left: 30%;
}

.slider .items:nth-child(4){
    left: calc(30% + 240px);
}}
@media screen and (min-width: 1141px){
.slider .items:nth-child(5){
    left: calc(30% + 480px);
}}
@media screen and (max-width: 1140px){
    .slider .items:nth-child(5){
        left: calc(30% + 0px);
        opacity: 0;
    }}
@media screen and (min-width: 1541px){
.slider .items:nth-child(6){
    left: calc(30% + 720px);
    
}}

@media screen and (max-width: 1540px){
.slider .items:nth-child(6){
    left: calc(30% + 0px);
    opacity: 0;
}}


.item1{
    background-image: url('../../assets/image1.jpg');
    background-size: cover;
    height: 100%;
    background-position: 50% 50%;
    border-radius: 10px;
    background-repeat: no-repeat;
}
.item2{
    background-image: url('../../assets/image2.jpg');
    background-size: cover;
    height: 100%;
    background-position: 50% 50%;
    border-radius: 10px;
    background-repeat: no-repeat;
}
.item3{
    background-image: url('../../assets/image3.jpg');
    background-size: cover;
    height: 100%;
    background-position: 50% 50%;
    border-radius: 10px;
    background-repeat: no-repeat;
}
.item4{
    background-image: url('../../assets/image4.jpg');
    background-size: cover;
    height: 100%;
    
    background-position: 50% 50%;
    border-radius: 10px;
    background-repeat: no-repeat;
}
.item5{
    background-image: url('../../assets/image5.jpg');
    background-size: cover;
    height: 100%;
    background-position: 50% 50%;
    border-radius: 10px;
    background-repeat: no-repeat;
}
.item6{
    background-image: url('../../assets/image3.jpg');
    background-size: cover;
    height: 100%;
    background-position: 50% 50%;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.items .content{
    position: absolute;
    top: 50%;
    left: 70px;
    width: 250px;
    
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}
.slider .items:nth-child(2) .content{
    display: block;
}

.content{
    padding-top: 25px;
    
}
.cards .name{
    font-size: 36px;
    font-family: Outfit;
    font-weight: 700;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}
.content .description{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.4s 1 forwards;
}
.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}