
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 120px;
    color: rgb(255, 255, 255);

    
}
.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 120px;
}

.nav-contact{
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    
}

.nav-contact:hover{
    transition: 0.5s;
    border-radius: 50px;
    padding: 10px 20px;
    background: #fff;
    color: #262626;
}
